.radix-themes {
  --default-font-size: 1rem;
  --default-font-family: "Inter-Regular";
}

.PhoneInputInput {
  border-color: hsl(var(--input));
  border-width: 1px;
  background-color: hsl(var(--background));
  border-radius: calc(var(--radius) - 2px);

}
